<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" class="login_form">
        {% csrf_token %}
        <div class="input_field">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="pw" placeholder="password"><br>
        </div>
        <button type="submit" class="login_button">Login</button>
    </form>
</body>
</html>