<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board_client</title>
</head>
<body>
    {% comment %} Header 부분 {% endcomment %}
    <header>
        <div class="container">
            <div class="top_left">
                <img src="img/" alt="blogicon">
            </div>
            <div class="top_right">
                <div class="nav_filter_buttons">
                    <button class="filter_button">일상</button>
                    <button class="filter_button">요리</button>
                    <button class="filter_button">여행</button>
                    <button class="filter_button">영화</button>
                    <button class="filter_button">IT</button>
                </div>
                <div class="nav_item_buttons">
                    <a href="{% url 'login' %}" class="login">Login</a>
                </div>
            </div>
        </div>
    </header>

    {% comment %} Main 부분 {% endcomment %}
    <main>
        {% comment %} 최근 작성한 포스트 {% endcomment %}
        <ul class="recent_post">
            {% for post in recent_post %}
            <li>
                <img src="{{ post.image.url }}" alt="postimg">
                <h2>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
            </li>
            {% endfor %}
        </ul>
        {% comment %} 전체 포스트 {% endcomment %}
        <div class="all_post">
            {% for post in all_post %}
            <img src="{{ post.image.url }}" alt="postimg">
            <div class="all_post_body">
                <h6 class="post_date">{{ post.created_at }}</h6>
                <h4 class="post_title">{{ post.title }}</h4>
                <p class="post_content">{{ post.content }}</p>
            </div>
            {% endfor %}
        </div>
    </main>

    {% comment %} Footer 부분 {% endcomment %}
    <footer>
        <div class="bottom">
            <p>made with <h5>Saigood</h5></p>
        </div>
    </footer>
</body>
</html>
0 comments on commit d1e5b69
@wktls63
 