{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'css/board.css' %}">
</head>

<body>
    {% comment %} Header 부분 {% endcomment %}
    <header class="nav">
        <div class="container">
            <div class="top_left">
                <img src="{% static 'img/blogicon_white.svg' %}" alt="blogicon">
            </div>
            <div class="top_right">
                <div class="nav_filter_buttons">
                    <a href="{% url 'board_by_topic' topic='0' %}"><button>일상</button></a>
                    <a href="{% url 'board_by_topic' topic='1' %}"><button>요리</button></a>
                    <a href="{% url 'board_by_topic' topic='2' %}"><button>여행</button></a>
                    <a href="{% url 'board_by_topic' topic='3' %}"><button>영화</button></a>
                    <a href="{% url 'board_by_topic' topic='4' %}"><button>IT</button></a>
                </div>
                <div class="nav_item_buttons">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                        <a href="{% url 'write' %}" class="write">Just Write!</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="login">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% comment %} Main 부분 {% endcomment %}
    <main>
        {% comment %} 조회수 가장 많은 포스트 {% endcomment %}
        <div class="top_post">
            <div>
                <h2>{{ top_post.title }}</h2>
                <p>{{ top_post.content }}</p>
                <a href="{% url 'board' %}">READ MORE</a>
            </div>
            <img src="{% static 'img/top_post.png' %}">
        </div>
        
        {% comment %} 전체 포스트 {% endcomment %}
        <div class="post">
            {% for post in posts %}
            <div class="all_post">
                <img class="post_img" src="{% static 'img/article_sample_image.png' %}" alt="postimg">
                <div class="all_post_body">
                    <h6 class="post_date">{{ post.posted_date }}</h6>
                    <h4 class="post_title">{{ post.title }}</h4>
                    <p class="post_content">{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    {% comment %} Footer 부분 {% endcomment %}
    <footer>
        <div class="bottom">
            <p>made with
            <strong>Saigood</strong>
            </p>
        </div>
    </footer>
</body>

</html>