<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h2 class="login-title">Login</h2>
    
    <div class="login-box">
        <form action="">

                <label for=""></label>
                <input type="text" class="login-name" placeholder="username">

                <label for=""></label>
                <input type="password" class="login-password" placeholder="password">

                <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>