{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
</head>

<body>
    {% comment %} Header 부분 {% endcomment %}
    <header class="nav">
        <div class="container">
            <div class="top_left">
                <a href="{% url 'board' %}">
                    <img src="{% static 'img/blogicon_black.svg' %}" alt="blogicon">
                </a>
            </div>
            <div class="top_right">
                <div class="nav_filter_buttons">
                    <button class="filter_button">일상</button>
                    <button class="filter_button">요리</button>
                    <button class="filter_button">여행</button>
                    <button class="filter_button">영화</button>
                    <button class="filter_button">IT</button>
                </div>
                <div class="nav_item_buttons">
                    <a href="{% url 'board' %}" class="logout">Logout</a>
                    <a href="{% url 'create_or_update_post' %}" class="write">Just Write!</a>
                </div>
            </div>
        </div>
    </header>

    {% comment %} Main 부분 {% endcomment %}
    <main>
        {% comment %} Main > Article 부분 {% endcomment %}
        <!-- css 작업 위해 임시로 넣어놨습니다! -->
        <article>
            <div class="article_info">
                <p class="posted_date">{{ post.posted_date }}</p>
                <h2 class="title">{{ post.title }}</h2>
                <p class="author">{{ post.user.email }}</p>
                <p class="topic">{{ post.get_topic_display }}</p>
            </div>
            <div class="article_detail">
                <p class="content">
                    {{ post.content }}
                </p>
                {% if post.image %}
                <img class="image" src="{{ post.image.url }}"></img>
                {% endif %}

            </div>
        </article>

        {% comment %} Main > Aside 부분 {% endcomment %}
        <aside>
            <p>Other posts<br>you may like</p>
            {% if recommended_posts %}


            {% for recommended_post in recommended_posts %}
            <div class="recommend-box">
                {% if recommended_post.image %}
                <img src="{{ recommended_post.image.url }}"></img>
                {% endif %}
                <h3>{{ recommended_post.title }}</h3>
                <a href="{% url 'posting' recommended_post.article_id %}"></a>
            </div>
            {% endfor %}
            {% endif %}
        </aside>
    </main>

    {% comment %} 수정하기, 삭제하기, 다음글, 이전글 부분 {% endcomment %}
    <div id="article_tools">
        <div>
            <!-- 수정하기 -->
            <a href="{% url 'create_or_update_post' post.article_id %}">
                <button class="edit-button">수정하기</button>
            </a>
            <!-- 삭제하기 -->
            <form method="POST" action="{% url 'posting' post.article_id %}">
                {% csrf_token %}
                <input type="hidden" name="delete-button" value="true">
                <button type="submit" class="delete-button">삭제하기</button>
            </form>
            <!-- 공유하기 -->
            <a id="share_btn" href="">공유하기</a>
        </div>
        <div>
            {% if next_post %}
            <div id="next_post">
                <p>다음글</p>
                <p><a href="{% url 'posting' next_post.article_id %}">{{ next_post.title }}</a></p>
                <p>{{ next_post.posted_date }}</p>
            </div>
            {% endif %}

            {% if prev_post %}
            <div id="prev_post">
                <p>이전글</p>
                <p><a href="{% url 'posting' prev_post.article_id %}">{{ prev_post.title }}</a></p>
                <p>{{ prev_post.posted_date }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    {% comment %} Footer 부분 {% endcomment %}
    <footer>
        <div class="bottom">
            <p>made with
                <strong>Saigood</strong>
            </p>
        </div>
    </footer>
</body>
<script src="{% static 'js/share.js' %}"></script>

</html>