{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
</head>
<body>
    {% comment %} Header 부분 {% endcomment %}
    <header class="nav">
        <div class="container">
            <div class="top_left">
                <img src="{% static 'img/blogicon_black.svg' %}" alt="blogicon">
            </div>
            <div class="top_right">
                <div class="nav_filter_buttons">
                    <button class="filter_button">일상</button>
                    <button class="filter_button">요리</button>
                    <button class="filter_button">여행</button>
                    <button class="filter_button">영화</button>
                    <button class="filter_button">IT</button>
                </div>
                <div class="nav_item_buttons">
                    <a href="{% url 'board' %}" class="logout">Logout</a>
                    <a href="{% url 'write' %}" class="write">Just Write!</a>
                </div>
            </div>
        </div>
    </header>

    {% comment %} Main 부분 {% endcomment %}
    <main>
        {% comment %} Main > Article 부분 {% endcomment %}
        <!-- css 작업 위해 임시로 넣어놨습니다! -->
        <article>
            <div class="article_info">
                <p class="posted_date">{{ post.posted_date }}</p>
                <h2 class="title">{{ post.title }}</h2>
                <p class="author">{{ post.user.email }}</p>
                <p class="topic">{{ post.get_topic_display }}</p>
            </div>
            <div class="article_detail">
                <p class="content">
                    {{ post.content }}
                </p>
                <img class="image" src="{% static 'img/post_sample.png' %}">{{ post.image }}</image>
                {% comment %} <p class="content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque.
                    Euismod consectetur fames
                    vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo scelerisque euismod
                    euismod.</p> {% endcomment %}
            </div>
        </article>
        
        <!-- 아래로 대체되어야 합니다.
        <article>
            <p class="posted_date">{{ article.posted_date }}</p>
            <h2 class="title">{{ article.title }}</h2>
            <p class="author">{{ article.author }}</p>
            <p class="topic">{{ article.topic }}</p>
            <div class="article_detail">
                <p class="content">{{ article.content }}</p>
                <image class="image">{{ article.imageurl }}</image>
            </div>
        </article>
        -->

        {% comment %} Main > Aside 부분 {% endcomment %}
        <aside>
            <p>Other posts<br>you may like</p>
            {% for i in "x"|rjust:"2" %}
            <div>
                <img src="{% static 'img/aside_sample.png' %}">
                <h3> Lorem ipsum dolor </h3>
            </div>
            {% endfor %}
        </aside>
        
        
        <!-- 아래로 대체되어야 합니다.
            <aside>
            <p>Other posts you may like</p>
            {% for post in recommend_posts %}
                <div>
                    <image> {{ post.image.url }}</image>
                    <h3> {{ post.title }}</h3>
                </div>
            {% endfor %}
        </aside> -->
    </main>

    {% comment %} 수정하기, 삭제하기, 다음글, 이전글 부분 {% endcomment %}
    <div id="article_tools">
        <div>
            <!-- 수정하기 -->
            <a href="{% url 'create_or_update_post' post.id %}">
                <button class="edit-button">수정하기</button>
            </a>
            <!-- 삭제하기 -->
            <form method="POST" action="{% url 'post' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="delete-button" value="true">
                <button type="submit" class="delete-button">삭제하기</button>
            </form>
            <!-- 공유하기 -->
            <a id="share_btn" href="">공유하기</a>
        </div>
        <div>
            <div id="next_post">
                <p>다음글</p>
                <p> <a href="{% url 'post' next_post.article_id %}">{{ next_post.title }}</a></p>
                <p>{{ next_post.posted_date }}</p>
            </div>
            <div id="prev_post">
                <p>이전글</p>
                <p> <a href="{% url 'post' prev_post.article_id %}">{{ prev_post.title }}</a></p>
                <p>{{ prev_post.posted_date }}</p>
            </div>
        </div>
    </div>

    {% comment %} Footer 부분 {% endcomment %}
    <footer>
        <div class="bottom">
            <p>made with
                <strong>Saigood</strong>
            </p>
        </div>
    </footer>
</body>
<script src="{% static 'js/share.js' %}"></script>
</html>