{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}">
</head>
<body>
    {% comment %} Header 부분 {% endcomment %}
    <header class="nav">
        <div class="container">
            <div class="top_left">
                <img src="{% static 'img/blogicon_black.svg' %}" alt="blogicon">
            </div>
            <div class="top_right">
                <div class="nav_filter_buttons">
                    <button class="filter_button">일상</button>
                    <button class="filter_button">요리</button>
                    <button class="filter_button">여행</button>
                    <button class="filter_button">영화</button>
                    <button class="filter_button">IT</button>
                </div>
                <div class="nav_item_buttons">
                    <a href="{% url 'board' %}" class="logout">Logout</a>
                    <a href="{% url 'write' %}" class="write">Just Write!</a>
                </div>
            </div>
        </div>
    </header>

    {% comment %} Main 부분 {% endcomment %}
    <main>
        <div class="write_field">
            <input type="text" class="title" placeholder="제목">
            <textarea class="content" cols="30" rows="10" placeholder="텍스트에디터로 변경 필요 \ CKeditor, tinymce, summernote 등"></textarea>
        </div>
        <aside class="write_option">
            <div class="auto_ai">
                <img src="{% static 'img/robot-outline.svg' %}">
                <button>AI 글 자동완성</button>
            </div>
            <div class="topic">
                <p>TOPIC</p>
                <div>
                    <input type="radio" name="topic" value="0" id="topic1"><label for="topic1">일상</label>
                </div>
                <div>
                    <input type="radio" name="topic" value="1" id="topic2"><label for="topic1">요리</label>
                </div>
                <div>
                    <input type="radio" name="topic" value="2" id="topic3"><label for="topic1">여행</label>
                </div>
                <div>
                    <input type="radio" name="topic" value="3" id="topic4"><label for="topic1">영화</label>
                </div>
                <div>
                    <input type="radio" name="topic" value="4" id="topic5"><label for="topic1">IT / 전자기기</label>
                </div>
            </div>
            <div class="upload_info">
                <p>UPLOAD INFO</p>
                <p id="upload_state">상태 : 미게시</p>
                <a href="">이미지 업로드</a>
                <div>
                    <a href="">임시저장</a>
                    <a href="">글 작성</a>
                </div>
            </div>
        </aside>
    </main>

    {% comment %} Footer 부분 {% endcomment %}
    <footer>
        <div class="bottom">
            <p>made with
                <strong>Saigood</strong>
            </p>
        </div>
    </footer>
</body>
</html>