* {
    font-family: 'Pretendard', sans-serif;
}

/* -----------------------Header--------------------- */
/* admin페이지의 header 부분에 클래스 nav 추가해야 함 */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

.container {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a:link {
    color: #f9f8f4;
}

a:visited {
    color: #f9f8f4;
}

a:hover {
    color: #f9f8f4;
}

a:active {
    color: #f9f8f4
}

.nav_filter_buttons {
    display: flex;
    align-items: center;
    gap: 56px;
}

.filter_button {
    display: flex;
    gap: 40px;
}

button {
    cursor: pointer;
    all: unset;
}

button:hover {
    cursor: pointer;
}

.nav_item_buttons {
    display: inline-block;
    background-color: #f9f8f4;
    border-radius: 2px;
    /* 너비와 높이가 같으므로 50%로 설정하면 동그라미 모양이 됩니다 */
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    padding: 10px 25px;
}

.nav_item_buttons:hover {
    background-color: #696969;
    transition: transform 0.8s, background-color 0.3s;
    color: #ffffff;
}

.login {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ------------------------Main---------------------- */
main {
    width: 1440px;
    height: 1059px;
    background-color: #F9F8F4;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main안에 all_post를 감싸는 클래스 하나 더 생성해야 함 */
.post {
    padding-top: 54px;
    padding-left: 208px;
    padding-right: 208px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.all_post {
    width: 315px;
    height: 600px;
}

.post_img {
    width: 315px;
    height: 320px;
}

.post_title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 700;
}


/* -----------------------Footer--------------------- */
/* Footer 스타일 */
footer {
    width: 1440px;
    height: 200px;
    flex-shrink: 0;
    background: #E7E3DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer의 텍스트 */
.bottom {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #2b2b2b;
    /* 텍스트 색상 */
}